.headWrap {
  position: relative;
  isolation: isolate;
}
.headWrap::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: 100rem -20rem;
}

.headPadding {
  padding: 4rem 16.4rem 0;
}

.headerTwoCol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroTitle {
  font-family: "DM Serif Display";
  font-size: 7.2rem;
  line-height: 7.2rem;
  letter-spacing: -0.553846px;
  color: var(--San-Juan-Blue);
  max-width: 54.6rem;
}
.emailWrap {
  padding-top: 4rem;
}
.heroText {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--Light-San-Juan-Blue);
  padding-top: 1.6rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1920px) {
  .headWrap::before {
    background-position: 98rem -20rem;
  }
}
@media screen and (max-width: 1440px) {
  .headWrap::before {
    background-position: 80rem -20rem;
  }
}
@media screen and (max-width: 1280px) {
  .headWrap::before {
    background-position: 65rem -20rem;
  }
}
@media screen and (max-width: 1200px) {
  .headPadding {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (max-width: 1024px) {
  .headWrap::before {
    background-position: 50rem -20rem;
  }
}
@media screen and (max-width: 860px) {
  .heroImg {
    max-width: 300px;
  }
}
@media screen and (max-width: 820px) {
  .headWrap::before {
    background-position: center -50rem;
  }
  .headPadding {
    padding-bottom: 10rem;
  }
  .headerTwoCol {
    flex-direction: column-reverse;
  }

  .leftCol {
    text-align: center;
  }
  .heroTitle {
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.369231px;
  }
}
@media screen and (max-width: 768px) {
  .headWrap::before {
    background-position: center -45rem;
  }
}
@media screen and (max-width: 540px) {
  .headWrap::before {
    background-position: center -50rem;
  }
}
@media screen and (max-width: 414px) {
  .headWrap::before {
    background-position: center -55rem;
  }
}
@media screen and (max-width: 412px) {
  .headPadding {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 7.9rem;
  }
  .heroImg {
    width: 200px;
  }
  .leftCol {
    text-align: center;
  }
  .heroTitle {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: -0.246154px;
  }
}
@media screen and (max-width: 280px) {
  .headWrap::before {
    background-position: center -55rem;
  }
}
