@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap");

/* CUSTOM PROPERTIES */
:root {
  --Dark-Pink: #ba4270;
  --Charm-Pink-Actives: #da6d97;
  --Mirage-Blue: #1b262f;
  --San-Juan-Blue: #36536b;
  --Light-San-Juan-Blue: #6c8294;
  --Link-Water-White: #fbfcfe;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  background: #edf3f8;
  height: 100vh;
  min-width: 100vw;
}
h1,
h2,
h3,
p,
a {
  font: inherit;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
}
